/**
* modal-dialog.css
* describes the popup dialog box in FXScript CSS. Taken from: https://gist.github.com/jewelsea/1887631
*/
 
.root {
-fx-glass-color: rgba(100, 100, 180, 0.2);
}
 
.modal-dialog {
-fx-padding: 20;
-fx-spacing: 10;
-fx-alignment: center;
-fx-font-size: 20;
-fx-background-color: linear-gradient(to bottom, derive(-fx-glass-color, 20%), -fx-glass-color);
-fx-border-color: derive(-fx-glass-color, -20%);
-fx-border-width: 5;
-fx-background-insets: 12;
-fx-border-insets: 10;
-fx-border-radius: 6;
-fx-background-radius: 6;
}
 
.modal-dialog:pressed {
-fx-cursor: move;
}
 
.modal-dialog .button:pressed {
-fx-cursor: default;
}